<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="leg_ros2_control" params="id">
        <joint name="body_to_leg_${id}">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="knee_joint_${id}">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
        <joint name="ankle_joint_${id}">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
        </joint>
    </xacro:macro>

    <xacro:macro name="walker_ros2_control" params="name plugin">
        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>${plugin}</plugin>
            </hardware>

            <xacro:leg_ros2_control id="left" />
            <xacro:leg_ros2_control id="right" />
        </ros2_control>
    </xacro:macro>
</robot>
